:root {
  --primary-color: #5facf4;
  --secondary-color: #c2ff99;
  --text-color: #333;
  --background-color: #fff5f5;
}*
footer {
  background-color: #001c3e;
  color:aliceblue;
  padding: 2rem 0;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex: 1;
  margin: 0 1rem;
  min-width: 200px;
}

.footer-section h3 {
  margin-bottom: 1rem;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 0.5rem;
}

.footer-section a {
  color: white;
  text-decoration: none;
}

.social-icons a {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.footer-bottom {
  text-align: center;
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.calendar-section {
  display: flex;
  justify-content: flex-end;
}

#calendar {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  color: var(--text-color);
  font-size: 0.9rem;
}

#calendar table {
  width: 100%;
}

#calendar th, #calendar td {
  text-align: center;
  padding: 5px;
}

#calendar .today {
  background-color: var(--secondary-color);
  border-radius: 50%;
}